.remove-btn {
  margin-right: 0.5rem;
}

.userPost-enter {
  opacity: 0;
}
.userPost-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}
.userPost-exit {
  opacity: 1;
}
.userPost-exit-active {
  opacity: 0;
  transition: opacity 2000ms ease-in;
}
